
<!-- Main content -->
<section class="content">
	<!-- Small boxes (Stat box) -->
	<div class="row">
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-aqua">
				<div class="inner">
					<h4>HR</h4>

					<p>HRMS</p>
				</div>
				<div class="icon">
					<i class="ion ion-android-people"></i>
				</div>
				<a href="#" class="small-box-footer">Dashboard <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-blue">
				<div class="inner">
					<h4>
						Inventory
						<!-- <sup style="font-size: 20px">%</sup> -->
					</h4>

					<p>IM</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
				<a href="#" class="small-box-footer">Dashboard <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-green">
				<div class="inner">
					<h4>Users</h4>

					<p>User Management</p>
				</div>
				<div class="icon">
					<i class="ion ion-person-add"></i>
				</div>
				<a href="/UserManager" class="small-box-footer">Dashboard <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-navy">
				<div class="inner">
					<h4>Settings</h4>

					<p>Global Setup</p>
				</div>
				<div class="icon">
					<!-- <i class="ion ion-pie-graph"></i> -->
					<i class="ion-android-settings"></i>
				</div>
				<a href="#" class="small-box-footer">Dashboard <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
	</div>
	<div class="row">
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-teal">
				<div class="inner">
					<h4>Accounting</h4>

					<p>Accounting Systems</p>
				</div>
				<div class="icon">
					<i class="ion ion-android-people"></i>
				</div>
				<a href="#" class="small-box-footer">Dashboard <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-olive">
				<div class="inner">
					<h4>
						Production
						<!-- <sup style="font-size: 20px">%</sup> -->
					</h4>

					<p>Production Automation</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
				<a href="#" class="small-box-footer">Dashboard <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-lime">
				<div class="inner">
					<h4>Procurement</h4>

					<p>Procurement Management</p>
				</div>
				<div class="icon">
					<i class="ion ion-person-add"></i>
				</div>
				<a href="#" class="small-box-footer">Dashboard <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-orange">
				<div class="inner">
					<h4>CRM</h4>

					<p>CRM App</p>
				</div>
				<div class="icon">
					<!-- <i class="ion ion-pie-graph"></i> -->
					<i class="ion-android-settings"></i>
				</div>
				<a href="#" class="small-box-footer">Dashboard <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-maroon">
				<div class="inner">
					<h4>Planning</h4>

					<p>Planning Application</p>
				</div>
				<div class="icon">
					<i class="ion ion-android-people"></i>
				</div>
				<a href="#" class="small-box-footer">Dashboard <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-fuchsia">
				<div class="inner">
					<h4>
						Marketing
						<!-- <sup style="font-size: 20px">%</sup> -->
					</h4>

					<p>Marketing Management</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
				<a href="#" class="small-box-footer">Dashboard <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-red">
				<div class="inner">
					<h4>Meetings</h4>

					<p>Meeting Management</p>
				</div>
				<div class="icon">
					<i class="ion ion-ios-people"></i>
				</div>
				<a href="#" class="small-box-footer">Dashboard <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-blue">
				<div class="inner">
					<h4>Documents</h4>

					<p>Document Management</p>
				</div>
				<div class="icon">
					<!-- <i class="ion ion-pie-graph"></i> -->
					<i class="ion-ios-paper-outline"></i>
				</div>
				<a href="#" class="small-box-footer">Dashboard <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
	</div>
	<!-- /.row -->

</section>